<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WTC5RVN');
    </script>
    <!-- End Google Tag Manager -->

    <title>DArch Projects and Consulting: Our projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Fernando Cardoso">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="project.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/common.js"></script>



</head>


<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTC5RVN" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="wrapper">
        <header>
            <h1><a href="index.html"> DArch Projects and Consulting</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="people.html">People</a></li>
                <li><a class="current" href="portfolio.html">Portfolio</a></li>
                <li><a href="Contactus.html">Contact US</a></li>
                <li><a href="about.html">About</a></li>

            </ul>
        </nav>

        <main>


            <!--             cant make it work in normal mode. on the mobile version it works...
 -->
            <script async src="https://cse.google.com/cse.js?cx=87189a2f8fe034037"></script>
            <div class="gcse-searchbox-only"></div>




            <h2>Main projects</h2>
            <h3>Camera Trap Monitoring</h3>
            <ul>
                <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S2213078016300512">Coupling visitor and wildlife monitoring in protected areas using camera traps</a></li>
            </ul>

            <h3>Climate change and its impacts</h3>
            <ul>
                <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S146290111400241X">Projected impacts to the production of outdoor recreation opportunities across US state park systems due to the adoption of a domestic climate change mitigation policy</a></li>
            </ul>
            <h3>Cruise Ship industry </h3>
            <ul>
                <li><a href="https://www.mdpi.com/2071-1050/12/2/611">Sustainable Cruise Tourism in Marine World Heritage Sites</a></li>
            </ul>
            <h3>Institutional and policy </h3>
            <ul>
                <li><a href="https://digitalcommons.usu.edu/extension_curall/2153/">The State of Outdoor Recreation in Utah 2020</a></li>
            </ul>



        </main>
        <br>
        <br>
        <footer>
            <div>

                Copyright &copy;2022 DArch Projects and Consulting <br>
                <a href="a02350490@usu.edu">a02350490@usu.edu</a>
                <a href="facebook.com">Facebook</a> <!-- I just put a marker for facebook -->

                <p id="dateupdate"></p>
                <script src="js/dateupdate.js"></script>
            </div>
        </footer>






    </div>
</body>

</html>